<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="fragments/layout"
>
<head>
    <title>Find Owner</title>
</head>
<body>
<div layout:fragment="content">
    <form
            th:object="${owner}"
            th:action="@{/owners/search/result}"
            method="get"
            class="form-horizontal"
            id="search-owner-form"
    >
        <div class="form-group">
            <div class="control-group" id="lastNameGroup">
                <label class="col-sm-2 control-label">Last name</label>
                <div class="col-sm-10">
                    <input
                            class="form-control"
                            th:field="*{lastName}"
                            size="30"
                            maxlength="80"
                    />
                    <span class="help-inline">
                        <div th:if="${#fields.hasAnyErrors()}">
                            <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">1</td>
                <td>
                    <a th:href="@{/owners/{id}/(id=${owner.id})}">
                        <div th:text="${owner.firstName}">Joe</div>
                    </a>
                </td>
                <td th:text="${owner.lastName}">Buck</td>
            </tr>
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Find Owner</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>

