<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="fragments/layout"
>
<head>
    <title>Owners List!!!</title>
</head>
<body>
<div layout:fragment="content">
    <div style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
        <h2 th:text="'List of Owners'">Owners List</h2>
        <a href="/owners/new">
            <button type="button" class="btn btn-primary">Create</button>
        </a>
    </div>
    <div style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
        <div></div>
        <a href="/owners/search">
            <button type="button" class="btn btn-primary">Search</button>
        </a>
    </div>

    <br />

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">1</td>
            <td>
                <a th:href="@{/owners/{id}/(id=${owner.id})}">
                    <div th:text="${owner.firstName}">Joe</div>
                </a>
            </td>
            <td th:text="${owner.lastName}">Buck</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>