<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="fragments/layout"
>
<head>
    <title>Vets List!!!</title>
</head>
<body>
    <div layout:fragment="content">

        <h2 th:text="'List of Vets'">Vets List</h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vet : ${vets}">
                <td th:text="${vet.id}">1</td>
                <td th:text="${vet.firstName}">-</td>
                <td th:text="${vet.lastName}">-</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>