<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="header">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/owners/">Owners</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vets/">Vets</a>
            </li>
        </ul>
    </div>
    <hr />
</body>
</html>