<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <header>
                    <div th:replace="fragments/header :: header">Header</div>
                    <h1 th:text="#{welcome}">Welcome</h1>
                </header>
            </div>
        </div>
    </div>

    <hr/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm" layout:fragment="content"></div>
        </div>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm" layout:fragment="footer">
                Copyright © 2019
            </div>
        </div>
    </div>
</body>
</html>